<section>
  <div class="lesson-viewer-wrapper">
      <!-- Header -->
      <div class="columns is-centered title-login">
          <div class="column has-text-centered">
              <h1>¡Gracias por usar EcoHub!</h1>
              <small> Seguí reciclando.</small>
          </div>
      </div>

      <div class="columns" >
          <div class="column">
              <div class="columns is-centered">
                
                   <h6>El peso es:&nbsp; </h6>  {{ data.peso }} 
                    
            </div>
            <div class="columns is-centered">
                 <h6>Los ecolones son:&nbsp; </h6> {{ data.eco }}
            </div>
            
              <div class="columns is-centered" >
                <div class="column registerAccount is-7 has-text-centered">
                    <button mat-raised-button color="accent" (click)="start()"> Iniciar
                    </button>
                    <button mat-raised-button color="accent" (click)="close()"> Salir
                    </button>
                    
                </div>
            </div>

              
          </div>
         
      </div>

  
      <!-- Footer -->
      <div class="columns is-centered footer-login">

          <div class="column has-text-centered">
              <small>Proyecto desarrollado por Catalina Sanchez, Valeska Mora y Alejandra Soto en Intel Innovation
                  Center.</small>
          </div>
      </div>
      <app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value"
          [backdropEnabled]="true" [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
      </app-progress-spinner>
  </div>
</section>